<app-about></app-about>
<img src="../../assets/images/HOUSEBOAT 2.jpg" width="100%" height="250px" alt="Houseboat Image" class="img-fluid">
<div
    style="background-image: url('../../assets/images/pexels-martinpechy-2078266.jpg'); background-size: cover; background-position: center; width: 100%; height: 100vh; display: flex; align-items: center;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex flex-column align-items-center">
                <h1>Escape to<br /> Floating Luxury</h1>
                <h6 class="mt-3">Experience the ultimate in relaxation and adventure with our premium houseboat rentals.
                    Di w-100f the water and explore hidden coves and inlets.</h6>
                <button class="button-33 w-100" (click)="goToBooking()">Book Now</button>
            </div>
            <div class="col-md-6">
                <img style="margin-left: 25px;" src="../../assets/images/HOUSEBOAT 3.jpg" class="img-fluid"
                    alt="Houseboat Image">
            </div>
        </div>
    </div>
</div>
<div
    style="background-image: url('../../assets/images/pexels-martinpechy-2078266.jpg'); background-size: cover; background-position: center; width: 100%; height: 100vh; display: flex; align-items: center;">
    <div class="container">
        <div class="row">
            <h1><b>About Our House Boat</b></h1>
            <div class="col-md-6">
                <img src="../../assets/images/pexel hb4.jpg" class="img-fluid" alt="Houseboat Image">
            </div>
            <div class="col-md-5 m-2">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6 d-flex">
                            <div class="card flex-fill" style="background-color: rgb(0, 84, 0); padding: 25px;">
                                <h3 style="color: white;">Spacious Interiors</h3>
                                <h4 style="color: white;">Our houseboats offer ample room for you and your guests to
                                    spread out and enjoy the journey.</h4>
                            </div>
                        </div>
                        <div class="col-md-6 d-flex">
                            <div class="card flex-fill" style="background-color: rgb(0, 84, 0); padding: 25px;">
                                <h3 style="color: white;">Modern Amenities</h3>
                                <h4 style="color: white;">Equipped with all the comforts of home, including full
                                    kitchens, TVs, and more.</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="card" style="background-color: rgb(0, 84, 0); padding: 25px;">
                            <h3 style="color: white;">Stunning Views</h3>
                            <h4 style="color: white;">Relax on the deck and take in the breathtaking scenery as you
                                float along the waterways.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <img src="../../assets/images/Boat Amenities.png" width="100%" alt="">
</div>
<div>
    <img src="../../assets/images/Booking Process.png" width="100%" alt="">
</div>
<div>
    <img src="../../assets/images/Destinations and Itineraries.png" width="100%" alt="">
</div>
<div>
    <img src="../../assets/images/Pricing and Packages.png" width="100%" alt="">
</div>
<div>
    <img src="../../assets/images/Reviews and Testimonials.png" width="100%" alt="">
</div>
<div>
    <img src="../../assets/images/Contact Us.png" width="100%" alt="">
</div>