<!-- collage.component.html -->
<app-about></app-about>
<div class="container mt-5">
    <div class="card p-4 mt-4">
        <h1>Delicious Food</h1>
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/images/HOUSEBOAT 6.jpg" alt="Image 1" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="../../assets/images/Food Styling.jpeg" alt="Image 2" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <img src="../../assets/images/kf.jpg" alt="Image 3" class="img-fluid">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <img src="../../assets/images/kf2.jpg" alt="Image 4" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-4 mt-4">
        <h1> Fun Filled Activities</h1>
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/2022-10-20.jpg" alt="Image 1" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../assets/images/2023-09-01.jpg" alt="Image 2" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <img src="../../assets/images/PXL_20230510_032749886.MP.jpg" alt="Image 3" class="img-fluid">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <img src="../../assets/images/wa.jpg" alt="Image 4" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>